Phase2 - Email Logger.json
{
  "name": "Phase2 - Email Logger",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "44beb64c-8d67-4a49-9967-f74b191a6a27",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "ODicgGxfLjTuCtex",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2880b43c-f165-462d-b8e2-1512bdf0e6d1",
              "name": "timestamp",
              "value": "={{ $now.toISO() }}",
              "type": "string"
            },
            {
              "id": "a21d3ece-576a-40bb-a643-f6ba7337bc7b",
              "name": "sender_name",
              "value": "={{ $json.From.split('<')[0].trim() }}",
              "type": "string"
            },
            {
              "id": "8a9aedc8-a2e2-43a4-b8eb-26fceb2f91d3",
              "name": "sender_email",
              "value": "={{ $json.From.match(/<(.+)>/)?.[1] ?? $json.From }}",
              "type": "string"
            },
            {
              "id": "d71e2793-324b-49d7-b5b2-16c9f79a9352",
              "name": "subject",
              "value": "={{ $json.Subject }}",
              "type": "string"
            },
            {
              "id": "ea726212-3016-433c-80ac-9a0d240e74cd",
              "name": "snippet",
              "value": "={{ $json.snippet.replace(/&#39;/g, \"'\").replace(/&amp;/g, '&') }}",
              "type": "string"
            },
            {
              "id": "8c9d972d-7f4e-4ad7-945c-0ae80624cd65",
              "name": "date_received",
              "value": "={{ new Date(parseInt($json.internalDate)).toLocaleString('en-IN', {timeZone: 'Asia/Calcutta'}) }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        0
      ],
      "id": "7f94eba8-8d64-4b04-b92c-eadeccb9ff16",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1ueWkURSwOXwQAUvXmydrG5Mm9xthZ2NVesyeGDdEJ1I",
          "mode": "list",
          "cachedResultName": "PracticeSheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/*********/edit?usp=***"
        },
        "sheetName": {
          "__rl": true,
          "value": 684298005,
          "mode": "list",
          "cachedResultName": "n8n Email Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/*******/edit#gid=***"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{ $('Edit Fields').item.json.timestamp }}",
            "sender_name": "={{ $('Edit Fields').item.json.sender_name }}",
            "sender_email": "={{ $('Edit Fields').item.json.sender_email }}",
            "subject": "={{ $('Edit Fields').item.json.subject }}",
            "snippet": "={{ $('Edit Fields').item.json.snippet }}",
            "date_received": "={{ $('Edit Fields').item.json.date_received }}",
            "category": "={{ $json.category }}",
            "priority": "={{ $json.priority }}",
            "action": "={{ $json.action }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sender_name",
              "displayName": "sender_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sender_email",
              "displayName": "sender_email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "subject",
              "displayName": "subject",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "snippet",
              "displayName": "snippet",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "date_received",
              "displayName": "date_received",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "priority",
              "displayName": "priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "action",
              "displayName": "action",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1120,
        208
      ],
      "id": "84503594-2b42-45ed-a43d-b30ce3e3066b",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "eERYqgQVpY84MvaF",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.subject }}",
                    "rightValue": "invoice",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "688c8538-fce5-49fc-bbf1-4b648a0b958b"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "0"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "7a015801-a962-46cf-8657-196f5ab04c09",
                    "leftValue": "={{ $json.subject }}",
                    "rightValue": "urgent",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "1"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b6b2409c-4b70-42b7-b0d3-0126f0e3db39",
                    "leftValue": "={{ $json.subject }}",
                    "rightValue": "question",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "2"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "bdb9d968-bbe5-49cc-a7ac-f74b60a026d5",
                    "leftValue": "={{ $json.subject }}",
                    "rightValue": "help",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "2"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "26c82429-91b1-4f33-9023-a7a6cbcd7f89",
                    "leftValue": "={{ $json.subject }}",
                    "rightValue": "support",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "3"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        672,
        224
      ],
      "id": "1a8e2ce9-f1d3-47d8-b446-a65c43d48093",
      "name": "Classify Email"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "73fdec5a-31c4-4e3c-9f4e-b45f4bec06a5",
              "name": "category     ",
              "value": "NEWSLETTER",
              "type": "string"
            },
            {
              "id": "8201571f-24f5-4cc7-b0d7-837306acd42b",
              "name": "priority     ",
              "value": "LOW",
              "type": "string"
            },
            {
              "id": "fb775c49-9b44-4561-9b8e-8cb7f4efd625",
              "name": "action       ",
              "value": "Skip logging",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        -384
      ],
      "id": "4fd26c77-c68c-4b47-a3e0-b2e1f0bc6523",
      "name": "Tag as Newsletter"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c2d2d807-de4c-4628-b7b3-b7a32cbe6598",
              "leftValue": "={{ $json.sender_email.includes('newsletter')}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "4f65e6c3-dd35-48fa-9d4b-90d2a78e7ef1",
              "leftValue": "={{ $json.sender_email.includes('noreply')}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "91faa4cf-d42a-450b-8a84-ae2742126606",
              "leftValue": "={{ $json.sender_email.includes('no-reply') }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        448,
        0
      ],
      "id": "92ba0766-2bef-4e59-b8bc-72386e091ee3",
      "name": "Is Newsletter?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6f93056e-7752-46fb-85f0-c2e09c0d5aa8",
              "name": "category",
              "value": "FINANCE",
              "type": "string"
            },
            {
              "id": "08080ee8-c6d2-4f09-9561-8abfb7f3a364",
              "name": "priority",
              "value": "HIGH",
              "type": "string"
            },
            {
              "id": "1e25d450-c120-469c-a0d0-95b76384ca9f",
              "name": "action",
              "value": "Forward to accountant",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        -192
      ],
      "id": "a0260d27-e027-4bee-8bf1-c49d014cc390",
      "name": "FINANCE"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6f93056e-7752-46fb-85f0-c2e09c0d5aa8",
              "name": "category",
              "value": "URGENT",
              "type": "string"
            },
            {
              "id": "08080ee8-c6d2-4f09-9561-8abfb7f3a364",
              "name": "priority",
              "value": "URGENT",
              "type": "string"
            },
            {
              "id": "1e25d450-c120-469c-a0d0-95b76384ca9f",
              "name": "action",
              "value": "Send Slack alert",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        0
      ],
      "id": "1ef548e5-1ac2-4f56-adf5-d5771a0401ef",
      "name": "URGENT"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6f93056e-7752-46fb-85f0-c2e09c0d5aa8",
              "name": "category",
              "value": "LEAD",
              "type": "string"
            },
            {
              "id": "08080ee8-c6d2-4f09-9561-8abfb7f3a364",
              "name": "priority",
              "value": "HIGH",
              "type": "string"
            },
            {
              "id": "1e25d450-c120-469c-a0d0-95b76384ca9f",
              "name": "action",
              "value": "Add to CRM",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        192
      ],
      "id": "87dd9e68-4844-4aa3-bac3-d636f09bb773",
      "name": "LEAD"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6f93056e-7752-46fb-85f0-c2e09c0d5aa8",
              "name": "category",
              "value": "LEAD",
              "type": "string"
            },
            {
              "id": "08080ee8-c6d2-4f09-9561-8abfb7f3a364",
              "name": "priority",
              "value": "HIGH",
              "type": "string"
            },
            {
              "id": "1e25d450-c120-469c-a0d0-95b76384ca9f",
              "name": "action",
              "value": "Add to CRM",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        384
      ],
      "id": "44eb61d4-1212-4408-9fe9-03c59bfcbaa0",
      "name": "LEAD1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6f93056e-7752-46fb-85f0-c2e09c0d5aa8",
              "name": "category",
              "value": "SUPPORT",
              "type": "string"
            },
            {
              "id": "08080ee8-c6d2-4f09-9561-8abfb7f3a364",
              "name": "priority",
              "value": "MEDIUM",
              "type": "string"
            },
            {
              "id": "1e25d450-c120-469c-a0d0-95b76384ca9f",
              "name": "action",
              "value": "Create support ticket",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        576
      ],
      "id": "c25ba458-a5eb-4c78-8ad9-0425cd0f3bf9",
      "name": "SUPPORT"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6f93056e-7752-46fb-85f0-c2e09c0d5aa8",
              "name": "category",
              "value": "GENERAL",
              "type": "string"
            },
            {
              "id": "08080ee8-c6d2-4f09-9561-8abfb7f3a364",
              "name": "priority",
              "value": "LOW",
              "type": "string"
            },
            {
              "id": "1e25d450-c120-469c-a0d0-95b76384ca9f",
              "name": "action",
              "value": "Log only",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        896,
        768
      ],
      "id": "e36f495f-fbe2-4472-9ff3-ee8da08f9181",
      "name": "GENERAL"
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Is Newsletter?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Newsletter?": {
      "main": [
        [
          {
            "node": "Tag as Newsletter",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Classify Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Email": {
      "main": [
        [
          {
            "node": "FINANCE",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "URGENT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LEAD",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LEAD1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SUPPORT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GENERAL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag as Newsletter": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FINANCE": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "URGENT": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LEAD": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LEAD1": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SUPPORT": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GENERAL": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "acc9580a-5055-4890-a008-3e9cbd271442",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "41c8a0253082e7f2e8a66f8a6064e670a10e9488667318f6ab92a1b67a4d7a44"
  },
  "nodeGroups": [],
  "id": "7dYzdqIQ1cJ2ZvcO",
  "tags": []
}
